*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding-top: 10px;
}
.box h1{
    color:red;
    padding-left: 20px;
}
span{
    color:white;
}
.menu ul{
    display: flex;
    justify-content: center;
    padding-right: 20px;

}
.menu ul li{
    list-style: none;
    padding-top: 5px;
}
.menu ul a {
    padding: 15px;
    font-size: 10px;
    color:white;

}
.image{
    background: url(images/highrise.webp) no-repeat center /cover;
    width: 100%;
    height: 400px;
}
.para{
    display: flex;
    
}
.para p{
    border:solid 2px;
    text-align: justify;
    margin: 2px 30px;
    height: 150px;
    padding: 4px;
    border-radius:18px;
}

